<div class="users-form-container" ng-init="getUsers()">
  <form name="userForm" class="form-horizontal form-user" ng-submit="createUser(user)" novalidate>
    <h3>User Information</h3>
    <div class="row">
      <div ng-if="alert.show" uib-alert  ng-class="'alert-' + (alert.type || 'warning')">{{alert.msg}}</div>
      <div class="col-md-6">
        <div class="form-group" ng-class="{ 'has-error' : userForm.accountNumber.$invalid && !userForm.accountNumber.$pristine }">
          <label for="inputEmail3" class="col-sm-4 control-label">Account Number</label>
          <div class="col-sm-8">
            <input type="number" name="accountNumber" class="form-control" id="inputAccountNumber" placeholder="Account Number" ng-model="user.accountNumber" required>
            <p ng-show="userForm.accountNumber.$invalid && !userForm.accountNumber.$pristine" class="help-block">
               Your account number is requried
            </p>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : userForm.lastName.$invalid && !userForm.lastName.$pristine }">
          <label for="inputEmail3" class="col-sm-4 control-label">Last Name</label>
          <div class="col-sm-8">
            <input type="text" name="lastName" class="form-control" id="inputLastName" placeholder="Last Name" ng-model="user.lastName"  required>
            <p ng-show="userForm.lastName.$invalid && !userForm.lastName.$pristine" class="help-block">
               Your last name is requried
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group" ng-class="{ 'has-error' : userForm.firstName.$invalid && !userForm.firstName.$pristine }">
          <label for="inputPassword3" class="col-sm-4 control-label">First Name</label>
          <div class="col-sm-8">
            <input type="text" name="firstName" class="form-control" id="inputFirstName" placeholder="First Name" ng-model="user.firstName" required>
            <p ng-show="userForm.firstName.$invalid && !userForm.firstName.$pristine" class="help-block">
               Your first name is requried
            </p>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group" ng-class="{ 'has-error' : userForm.birthDate.$invalid && !userForm.birthDate.$pristine }">
          <label for="inputPassword3" class="col-sm-4 control-label">Date of Birth</label>
          <div class="col-sm-8">
            <div class="input-group">
              <input type="text" placeholder="Birthdate" name="birthDate" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-change="dateChange(dt)" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open2()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
              </span>
            </div>
            <p ng-show="userForm.birthDate.$invalid && !userForm.birthDate.$pristine" class="help-block">
               Your date of birth is requried
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
          <label for="inputEmail3" class="col-sm-4 control-label">Email</label>
          <div class="col-sm-8">
            <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email"  ng-model="user.email"  required>
            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">
               Your email is requried
            </p>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : userForm.membershipType.$invalid && !userForm.membershipType.$pristine }">
          <label for="inputEmail3" class="col-sm-4 control-label">Membership type</label>
          <div class="col-sm-8">
            <select class="form-control" name="membershipType" ng-model="user.membershipType" required>
              <option value="bronze">Bronze</option>
              <option value="silver">Silver</option>
              <option value="gold">Gold</option>
            </select>
            <p ng-show="userForm.membershipType.$invalid && !userForm.membershipType.$pristine" class="help-block">
              Membership type is requried
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
          <label for="inputPassword3" class="col-sm-4 control-label">Password</label>
          <div class="col-sm-8">
            <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="user.password"  required>
            <p ng-show="userForm.password.$invalid && !userForm.password.$pristine" class="help-block">
              Password is requried
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" ng-disabled="userForm.$invalid" >Save</button>
            <button type="button" ng-click="cancel()" class="btn btn-danger">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="users-list">
  <h3>Registered Users</h3>
  <h4>Filter by</h4>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="name" class="control-label">First Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="name" class="control-label">Lastname</label>
        <input type="text" class="form-control" id="name" placeholder="Lastname">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="name" class="control-label">Email</label>
        <input type="text" class="form-control" id="name" placeholder="Email">
      </div>
    </div>
  </div>
  <div class="table-responsive m-t-table">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Account Number</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Date of Birth</th>
          <th>Email</th>
          <th>Membership type</th>
          <th>Created At</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in userList track by $index">
          <th scope="row">{{user.accountNumber}}</th>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>@mdo</td>
          <td>{{user.email}}</td>
          <td>{{user.membershipType}}</td>
          <td>{{user.created_at | date : 'yyyy-MM-dd' }}</td>
          <td class="text-center"><a class="user-action" ng-click="editUser(user, $index)"><i class="fa fa-edit"></i></a></td>
          <td class="text-center"><a class="user-action" ng-click="deleteUser(user, $index)"><i class="fa fa-remove"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
