<div class="modal-md">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Eliminar Usuario</h4>
  </div>
  <div class="modal-body">
    <p>Está seguro que desea eliminar el usuario?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="save()">Aceptar</button>
  </div>
</div>
